<app-hero-banner>
  <div class="hero-banner__content">
    <h2 class="hero-banner__title">Let's Find Some</h2>
    <h2 class="hero-banner__title"><span>Images</span> Here!</h2>
  </div>
</app-hero-banner>

<!-- <div class="category-grid" role="list">
  <a
    *ngFor="let c of categories"
    class="card"
    [routerLink]="['/category', c.slug]"
    role="listitem"
    aria-label="{{ c.name }}"
  >
    <div
      class="card__bg"
      [ngStyle]="{ 'background-image': 'url(' + c.image + ')' }"
      aria-hidden="true"
    ></div>

    <div class="card__overlay"></div>

    <span class="card__label">{{ c.name }}</span>
  </a>
</div> -->
<div class="category-grid" role="list">
  @for (c of arrayCategories(); track $index) {
    <a class="card" [routerLink]="['/category', c.slug]" role="listitem" aria-label="{{ c.name }}">
      <div class="card__bg" aria-hidden="true"></div>

      <div class="card__overlay"></div>
      <img [src]="c.image" alt="category" />
      <span class="card__label">{{ c.name }}</span>
    </a>
  }
</div>
