<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__brand">
        <div>
          <div>
            <img src="/logo.svg" alt="logo" />
          </div>

          <p class="footer__desc">
            We have images that capture every mood and inspire every vision. From breathtaking
            landscapes to vibrant portraits.
          </p>

          <div class="footer__socials">
            <img src="/social/twitter.svg" alt="twitter" />
            <img src="/social/facebook.svg" alt="facebook" />
            <img src="/social/instagram.svg" alt="instagram" />
            <img src="/social/github.svg" alt="github" />
          </div>
        </div>
      </div>

      <div class="footer__columns">
        <div class="footer__columns-wrapper">
          <div class="footer__col">
            <h3>Company</h3>
            <a href="#">About</a>
            <a href="#">Features</a>
            <a href="#">Works</a>
            <a href="#">Career</a>
          </div>

          <div class="footer__col">
            <h3>Help</h3>
            <a href="#">Customer Support</a>
            <a href="#">Delivery Details</a>
            <a href="#">Terms & Conditions</a>
            <a href="#">Privacy Policy</a>
          </div>

          <div class="footer__col">
            <h3>FAQ</h3>
            <a href="#">Account</a>
            <a href="#">Manage Deliveries</a>
            <a href="#">Orders</a>
            <a href="#">Payments</a>
          </div>

          <div class="footer__col">
            <h3>Resources</h3>
            <a href="#">Free eBooks</a>
            <a href="#">Development Tutorial</a>
            <a href="#">How to - Blog</a>
            <a href="#">YouTube Playlist</a>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">Modsen.gallery © 2000–2025, All Rights Reserved</div>
  </div>
</footer>
